.root {
    -fx-background-color: black;
}

.demo1 {
    -fx-image: url("dirk.png");
}

.demo1:hover {
    -fx-image: url("dirk-hover.png");
}

.demo2 {
    -fx-image: url("hendrik.png");
}

.demo2:hover {
    -fx-image: url("hendrik-hover.png");
}

.demo1:hover,
.demo2:hover {
}

.demo1:pressed,
.demo2:pressed {
    -fx-opacity: .5;
}